<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Catálogo</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.png">
</head>
<body>
    <header>
        <header>
            <div class="flex-encabezado">
                <div id="logo">
                    <a href="/"><img src="/images/Drink_House_SVG.svg" alt="logo de Drink House"></a>                </div>
                <div id="busqueda">
                    <input type="text" placeholder="¿Que vas a pedir?">
                        <button id="botonDeBusqueda"><i class="fas fa-search"></i></button>
                </div>
                <div id="navegador">
                <a href="/views/login"><i class="far fa-user"></i>  Ingresa</a>
                <a href="/views/product"><i class="fas fa-shopping-cart"></i>  Carrito</a>
                <a href="/views/register"><i class="far fa-list-alt"></i>  Crea tu cuenta</a>
            </div>           
        </header>
    </header>

<main>

    <h2>Catálogo de Productos</h2>
    
    <section class="contenedor-articulos">

        <div>
        <a href="/views/productDetail">
            <article>
        <img src="/images/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">   
            <div class="caja-articulo">
                <h2>RUTINI CABERNET FRANC MALBEC 750ml</h2>
                <p class="discount">5% off</p>
                <p class="price">$3.200</p>
            </div>
        </article>        </a>
    </div>




    <div>
        <a href="/views/productDetail">
            <article>
        <img src="/images/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">   
            <div class="caja-articulo">
                <h2>RUTINI CABERNET FRANC MALBEC 750ml</h2>
                <p class="discount">5% off</p>
                <p class="price">$3.200</p>
            </div>
        </article>        </a>
    </div>





    <div>
        <a href="/views/productDetail">
            <article>
        <img src="/images/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">   
            <div class="caja-articulo">
                <h2>RUTINI CABERNET FRANC MALBEC 750ml</h2>
                <p class="discount">5% off</p>
                <p class="price">$3.200</p>
            </div>
        </article>        </a>
    </div>




    <div>
        <a href="/views/productDetail">
            <article>
        <img src="/images/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">   
            <div class="caja-articulo">
                <h2>RUTINI CABERNET FRANC MALBEC 750ml</h2>
                <p class="discount">5% off</p>
                <p class="price">$3.200</p>
            </div>
        </article>        </a>
    </div>



    <div>
        <a href="/views/productDetail">
            <article>
        <img src="/images/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">   
            <div class="caja-articulo">
                <h2>RUTINI CABERNET FRANC MALBEC 750ml</h2>
                <p class="discount">5% off</p>
                <p class="price">$3.200</p>
            </div>
        </article>        </a>
    </div>



    <div>
        <a href="/views/productDetail">
            <article>
        <img src="/images/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">   
            <div class="caja-articulo">
                <h2>RUTINI CABERNET FRANC MALBEC 750ml</h2>
                <p class="discount">5% off</p>
                <p class="price">$3.200</p>
            </div>
        </article>        </a>
    </div>



    <div>
        <a href="/views/productDetail">
            <article>
        <img src="/images/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">   
            <div class="caja-articulo">
                <h2>RUTINI CABERNET FRANC MALBEC 750ml</h2>
                <p class="discount">5% off</p>
                <p class="price">$3.200</p>
            </div>
        </article>        </a>
    </div>



    <div>
        <a href="/views/productDetail">
            <article>
        <img src="/images/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">   
            <div class="caja-articulo">
                <h2>RUTINI CABERNET FRANC MALBEC 750ml</h2>
                <p class="discount">5% off</p>
                <p class="price">$3.200</p>
            </div>
        </article>        </a>
    </div>



    <div>
        <a href="/views/productDetail">
            <article>
        <img src="/images/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">   
            <div class="caja-articulo">
                <h2>RUTINI CABERNET FRANC MALBEC 750ml</h2>
                <p class="discount">5% off</p>
                <p class="price">$3.200</p>
            </div>
        </article>        </a>
    </div>



    <div>
        <a href="/views/productDetail">
            <article>
        <img src="/images/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">   
            <div class="caja-articulo">
                <h2>RUTINI CABERNET FRANC MALBEC 750ml</h2>
                <p class="discount">5% off</p>
                <p class="price">$3.200</p>
            </div>
        </article>        </a>
    </div>



    <div>
        <a href="/views/productDetail">
            <article>
        <img src="/images/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">   
            <div class="caja-articulo">
                <h2>RUTINI CABERNET FRANC MALBEC 750ml</h2>
                <p class="discount">5% off</p>
                <p class="price">$3.200</p>
            </div>
        </article>        </a>
    </div>



    <div>
        <a href="/views/productDetail">
            <article>
        <img src="/images/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">   
            <div class="caja-articulo">
                <h2>RUTINI CABERNET FRANC MALBEC 750ml</h2>
                <p class="discount">5% off</p>
                <p class="price">$3.200</p>
            </div>
        </article>        </a>
    </div>
    </section>
</main>

<!-- footer -->
<%- include("./partials/footer") %>

</body>
</html>