<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include("./partials/head") %>

<body>
    <!-- header -->
    <%- include("./partials/header") %>
    <main>
        <form>

            <!-- producto: categoria, marca,  codigo, precio, descuento, descripcion, imagenes, stock, -->
            
            <label for="">Categoria </label>
            <select name="" id="">
                <option>Vinos</option>
                <option>Whiskies</option>
                <option>Cervezas</option>
                <option>Licores</option>
            </select> <br>

            <label class="" for="productMarca">Marca </label>
            <input type="text" name="productMarca" id="productMarca"> <br>

            <label class="" for="productId">Código </label>
            <input type="text" name="productId" id="productId"> <br>

            <label for="productPrice">Precio </label>
            <input type="text" name="productPrice" id="productPrice"> <br>

            <label for="productDescuento">Descuento </label>
            <input type="text" name="productDescuento" id="productDescuento"> <br>

            <label for="productDescription">Descipcion del producto </label>
            <textarea name="" id="" cols="30" rows="10"></textarea> <br>

            <label name="subida-imagenes" type="POST">
                <input type="file" name="imagen" />
            </label>

            <label for="productStock">Stock </label>
            <select name="productStock" id="productStock">
                <!-- <option>1</option>
                <option></option> -->
            </select> <br>

            

             <button type ="submit">Enviar</button>
             <button type ="reset">Borrar</button>
         </form>
    </main>
</body>

<!-- footer -->
<%- include("./partials/footer") %>

</html>