<header>
    <div class="flex-encabezado">
        <div id="logo">
           <a href="/">
            <img src="/images/Drink_House_SVG.svg" alt="logo de Drink House">
            </a>
        </div>
        <div id="busqueda">
            <input type="text" placeholder="¿Que vas a pedir?">
                <button id="botonDeBusqueda"><i class="fas fa-search"></i></button>
        </div>
        <div id="navegador">
        <a href="/views/login"><i class="far fa-user"></i>  Ingresa</a>
        <a href="/views/product"><i class="fas fa-shopping-cart"></i>  Carrito</a>
        <a href="/views/register"><i class="far fa-list-alt"></i>  Crea tu cuenta</a>
        <a href="/views/createProducts">  Crear Producto</a>
    </div>           
</header>