<header>
        <div class="flex-encabezado">
            <div id="logo">
                <a href="/"><img src="/images/Drink_House_SVG.svg" alt="logo de Drink House"></a>
            </div>
    </header>