<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="shortcut icon" href="/public/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
</head>

<body>
    <header>

        <div class="contenedor">

            <div class="logo">
                <img src="/public/img/logo.png" alt="Logo de DrinkHouse">
            </div>
     
            <dir class="busqueda">
                <input type="text" placeholder="  Encontra tu bebida aqui">
                <button><i class="fas fa-search"></i></button>
            </dir>
     
            
            
                          
            <nav class="listas">
                <ul class="productos">
                    <li><a href="">CERVEZAS</a></li>
                    <li><a href="">VINOS</a></li>
                    <li><a href="">WHISKIES</a></li>
                    <li><a href="">LICORES</a></li>
                </ul>    
                
                
                
                <ul class="usuario">
                    <li><a href=""><i class="fas fa-user"></i> LOGIN</a></li>
                    <li><a href=""><i class="fas fa-sign-in-alt"></i> REGISTRO</a></li>
                    <li><a href=""><i class="fas fa-shopping-cart"></i> CARRITO</a></li>
                </ul>
            </nav>
            
        
        </div>

        <main>
            <div class="main-container">
                <div>
                    <img src="/public/img/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">
                </div>
                <div>
                    <div class="description">
                        <br><br><br>
                        <h2>CABERNET FRANC MALBEC 750ml</h2>
                        <p>Rojo intenso, con matices azulados. En nariz, se presenta frutado, con notas de ciruela, vainilla y anís; mientras, en boca, se reafirman los acentos aciruelados. Los taninos, muy presentes pero amables, destacan su personalidad.
    
                        Granate intenso con matices purpura, brillante. Impacta su caracter frutado (frambuesa, frutilla, mora), combinado con frescos acentos mentolados, especias y ahumados, que provienen de su cuidada crianza en barrica. Firme en paladar, es redondo, carnoso y fluido. El final de boca brinda una elegante sequedad.
                        Variedad: 60% Malbec 40% Cabernet Franc.
                        Viñedo: Gualtallary y Altamira.
                        Crianza: 12 meses. 40% francés nuevo y 60% francés de 2do uso.</p>
                    </div>
                </div>
            </div>
        </main>
    </header>
    <footer>
        <div class="footer-container">
            <div class="footer-img-centrado">
                <img src="/public/img/dataFiscal.png" alt="AFIP">
            </div>
            <div>
                <p class="footer-title">Contáctenos</p>
                <p><i class="fab fa-whatsapp" style="color:lightgreen"></i> +54 9 11 1234-5678</p>
                <p><i class="far fa-envelope"></i> drinkhouse@gmail.com</p>
            </div>
            
            <div>
                <p class="footer-title">¿Quienes Somos?</p>
                <p>Empresa</p>
                <p>Trabaja con nosotros</p>
            </div>
            
            <div>
                <p class="footer-title">¿Como comprar?</p>
                <p>Ayuda</p>
                <p>Seguridad</p>
            </div>
            <div><p class="footer-title">Redes</p>
                <p><i class="fab fa-facebook" style="color: blue;"></i> Facebook</p>
                <p><i class="fab fa-instagram" style="color: pink;"></i> Instagram</p>
            </div>
        </div>
    </footer>
</body>
</html>

