@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

.proyect {
  font-family: 'Rajdhani';
  width: 100%;
}

body{
  margin: 0;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}