<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>DrinkHouse</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class ="top-header">
                <div class="logo">
                    <img src="images/logo-drinkhouse.png" alt="Logo de DrinkHouse">
                </div>
                <div class="busqueda">
                    <div class="input"><i class="fa fa-search"></i>Que vas a pedir?</div>
                </div>
                <nav>
                    <div>
                        <a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a>
                        <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                        <a href="/carrito">Carrito<i class="fas fa-shopping-basket"></i></a>
                    </div>
                </nav>
            </div>
        </header>
        <section class="banner">
            <img src="images/ofertas.png" alt="Banner de ofertas">
        </section>
        <section class="banner-categorias">
            <img src="images/banner-categorias.png" alt="Banner de categorias">
        </section>
        <footer>
            <div class="logo">
                <img src="images/logo-drinkhouse.png" alt="Logo de DrinkHouse">
            </div>
            <div>
                <ul class="contacto">
                    <li><i class="fas fa-address-book"></i><a href="#">Contacto</a></li>
                </ul>
                <ul class="preguntas-frecuentes">
                    <li></i><a href="#">Quienes somos</a><i class="fas fa-question"></i></li>
                    <li><a href="#">Como comprar</a><i class="fas fa-question"></i></li>
                </ul>
                <ul class="redes">
                    <li><i class="fab fa-instagram"></i><a href="#">Instagram</a></li>
                    <li><i class="fab fa-facebook"></i><a href="#">Facebook</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>