<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrinkHouse</title>
    <script src="/carrusel.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="encabezado">
        <div class="logo">
            <img src="/images/Drink_House_SVG.svg" width="150" alt="logo de Drink House"></div>
        <nav>
            <input type="text" placeholder="¿Que vas a pedir?">
                    <button id="botonDeBusqueda"><i class="fas fa-search"></i></button>
            <a href="/views/login"><i class="far fa-user"></i>  Login</a>
            <i class="fas fa-ellipsis-v"></i>
            <a href="/views/product"><i class="fas fa-shopping-cart"></i>  Carrito</a>
            <i class="fas fa-ellipsis-v"></i>
            <a href="/views/register"><i class="far fa-list-alt"></i>  Registro</a>
        </nav>
        </div>           
    </header>
    <section class="contenedor">
        <div class="atras botones">
            &#60 
        </div>
        <div class="adelante botones">
            &#62  
        </div>
        <img src="images/img1.jpg" alt="Imagen promo">
        </div>
    </section>  
    <section class="productos">
        <h1>PRODUCTOS</h1>
        <div>
        <i class="fas fa-beer"></i>
        <i class="fas fa-wine-glass-alt"></i>
        <i class="fas fa-glass-whiskey"></i>
        <i class="fas fa-wine-bottle"></i>
        </div>
    </section>
    <footer>
        <div class="pie">
            <div class="logo">
                <img src="/images/Drink_House_SVG.svg" width="150" alt="logo de Drink House"></div>
            <nav>
                <div>
                <h1>Contactos</h1>
                <ul>
                    <li><i class="fas fa-phone-alt"></i> 011-4865-4569</li>
                    <li><i class="far fa-envelope"></i> drinkhouse@gmail.com</li>
                </ul>
                </div>
                <div>
                <h1>¿Quienes Somos?</h1>
                <ul>
                    <li>Empresa</li>
                    <li>Trabajá con nosotros</li>
                </ul>
                </div>
                <div>
                <h1>¿Como Comprar?</h1>
                <ul>
                    <li>Ayuda</li>
                    <li>Seguridad</li>
                </ul>
                </div>
                <div>
                <h1>Redes</h1>
                <ul>
                    <li><i class="fab fa-facebook"></i> facebook</li>
                    <li><i class="fab fa-instagram"></i> Instagram</li>
                </ul>
                </div>
            </nav>
            </div>           
    </footer>
</body>
</html>