<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="top-header">
        <img src="/images/Drink_House_SVG.svg" width="150" alt="logo de Drink House"> 
        <input type="text" placeholder="¿Que vas a pedir?">
        <button id="botonDeBusqueda"><i class="fas fa-search"></i></button>
        <a href="/views/login">Login</a>
        <a href="/views/product">Carrito</a>
        <a href="/views/register">Registro</a>
    </div>
</body>
</html>