body {
    font-family: "Rajdhani";
    background-color: white;
    margin: 5px;
}

.encabezado {
    width: 99%;
    max-width: 99%;
    margin: auto;
    overflow: hidden;
    background-color: black;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

body header img{
    width: 100%;
    padding: 10px 0;
}

header div a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    min-width: 50px;
    padding: 2px 5px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.navegador a:hover {
    background: rgb(170,255,0);
    border-radius: 50px;
    color: black;
}

.encabezado div input {
    max-height: 20px;
    max-width: 300px;
    padding: 0 100px;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    font-family: "Rajdhani";
    font-weight: bold;
    text-align: center;
}

.navegador{
    color: white;
}

.encabezado div:first-child {
    width: 100px;
    height: 80px;
}

.navegador {
    padding: 15px 0;
}

#botonDeBusqueda {
    height: 25px;
    width: 28px;
    border-radius: 7px;
}

section {
    max-width: 99%;
    padding: 0px 0 10px 0;
    overflow: hidden;
    margin: auto;
    box-sizing: border-box;
}

section img {
    width: 700px;
    height: 380px;
    padding: 10px 510px 10px 510px;
    background-color: black;
    margin: auto;
    display: block;
    min-width: 300px;
    max-width: 500px;
}
.contenedor {
    height: 40%;
    border: 10px;
    padding: 10px 0 0 0;
}

.botones{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgb(170,255,0.7);;
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: black;
    box-shadow: 0 0 10px rgba(134, 182, 38, 0.993);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3 ease;
}

.botones:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}

.atras{
    left: 10%;
    top: 225px;
}

.adelante{
    right: 10%;
    top: 225px;
}

.pie {
    width: 99%;
    max-width: 99%;
    margin: auto;
    overflow: hidden;
    background-color: black;
    border-radius: 5px;
    font-size: 12px;
}

footer .logo {
    font-size: 50px;
    line-height: 50px;
    float: left;
    height: 70px;
}

footer .logo img{
    height: 55px;
    width: 35px;
    padding: 7px 30px;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
}

footer nav div {
    list-style: none;
    text-decoration: none;
    margin: auto;
    line-height: 1px;
    padding: 5px 0 0 0;
}

footer nav div ul {
    list-style: none;
    line-height: normal;
    padding: 0;
    margin: 0px;
}
.productos{
    text-align: center;
    padding: 5px 0 0 0;
}

.productos h1 {
    margin: 0px;
    text-align: center;
    font-weight: bold;
    padding: 0 0 10px 0;
}

.contenedor-flex > div {
    width: 115px;
}

.contenedor-flex {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.productos i{
    color:  rgb(137,104,237);
    padding: 5px;
    border: 2px solid;
    width: 100px;
    height: 100px;
    font-size: 100px;
    text-align: center;
    margin: auto
}

.productos div {
    text-align: center;
}

.contenedor-login{
    height: 540px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: black 10px solid;
    justify-content: center;
}
.contenedor-login div ul{
    display: flex;
    flex-direction: column;
}

@media (max-width: 460px){
    header div input {
        height: 20px;
        width: 100px;
        text-align: center;
        font-weight: bold;
        border-radius: 20px;
        font-family: "Rajdhani";
    }

    .botones{
        font-size: 20px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 50%;
        background-color: rgb(170,255,0.7);;
        text-align: center;
        font-weight: bold;
        position: absolute;
        color: black;
        box-shadow: 0 0 10px rgba(134, 182, 38, 0.993);
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3 ease;
    }

    .atras{
        top: 280px;
    }
    
    .adelante{
        top: 280px;
    }

    header .encabezado {
        width: 100%;
        background-color: black;
        padding: 0 20px 0 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer nav {
        display: flex;
        flex-direction: column;
    }

    .pie {
        display: none;
    }

    .productos div i {
        color:  rgb(137,104,237);
        padding: 5px;
        border: 2px solid;
        width: 50px;
        height: 50px;
        font-size: 50px;
        text-align: center;
        margin: 0 10px 0;
    
    }
}