<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("./partials/head") %>
<body>
    <script>
        document.title = 'Registrate | DrinkHouse'
    </script>
     <!-- header -->
     <%- include("./partials/header") %>
    <main>
        <div>
            <h1>crear orden</h1>
        </div>
    </main>
<!-- footer -->
<%- include("./partials/footer") %>
</body>
</html>