<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("./partials/head") %>
<body>
    <script>
        document.title = 'Registrate | DrinkHouse'
    </script>
     <!-- header -->
     <%- include("./partials/header") %>
    <main>
        <div class="contenedor-register">
            <h1>Regístrate</h1>
            <h3>Completá con tus datos!</h3>
            <div>
                <form action="/login" method="post">
                    <label for="Nombre"></label>
                    <input type="text" name="nombre" placeholder="Ingresá tu nombre" id="nombre" required>
                
                    <label for="Apellido"></label>
                    <input type="text" name="apellido" placeholder="Ingresá tu apellido" id="apellido" required>

                    <label for="email"></label>
                    <input type="email" name="email" placeholder="Email" id="email" required>

                    <label for="password"></label>
                    <input type="password" name="password" placeholder="Password"id="password" required>

                    <label for="password"></label>
                    <input type="password" name="password" placeholder="Repetí tu password"id="password" required>

                    <label for="start">Fecha de Nacimiento:</label>
                    <input type="date" id="start" name="fecha de nacimiento" value="1990-07-22" min="1900-01-01" max="2022-03-28" required> 
                
                    <div class="contenedor-boton">
                        <button type="reset">Reiniciar</button>
                        <button type="submit">Enviar</button>
                    </divclass>
                </form>
            </div>
        </div>
    </main>
<!-- footer -->
<%- include("./partials/footer") %>
</body>
</html>