<head>
    <link rel="stylesheet" href="/css/slider.css">
    <script src="/slider.js"></script>
</head>

<body>

    <div class="contenedor">
        <div class="slider-contenedor">
           
            <section class="contenido-slider">
                <div>
                    <h2>Weekend Discount</h2>
                    <a href="#"> Jack Daniels en descuento para este fin de semana</a>
                    <br>
                    <p> 25% off</p>
                </div>
                <img src="/Images/Slides/jackDaniels.jpg" alt="">
            </section>

            <section class="contenido-slider">
                <div>
                    <h2>Rock n Roll all night</h2>
                    <a href="#"> La legendaria banda Kiss debuta en las bebidas alcoholicas</a>
                    <br>
                    <p> 25% off</p>
                </div>
                <img src="/Images/Slides/kiss.jpg" alt="">
            </section>

            <section class="contenido-slider">
                <div>
                    <h2>De Dublín a Buenos Aires</h2>
                    <a href="#"> Encontrá la Cerveza Guinness en Drink House</a>
                    <br>
                    <p> 25% off</p>
                </div>
                <img src="/Images/Slides/guinness.jpg" alt="">
            </section>

            <section class="contenido-slider">
                <div>
                    <h2>Reserva Privada</h2>
                    <a href="#"> Vino Casillero del Diablo</a>
                    <br>
                    <p> 6.800 Ar$</p>
                </div>
                <img src="/Images/Slides/casillero.jpg" alt="">
            </section>


               
        
           

    

           

        <!-- este section debe ser el mismo que el primero -->
          
        <section class="contenido-slider">
            <div>
                <h2>Weekend Discount</h2>
                <a href="#"> Jack Daniels en descuento para este fin de semana</a>
                <br>
                <p> 25% off</p>
            </div>
            <img src="/Images/Slides/jackDaniels.jpg" alt="">
        </section>
    </div>
    </div>
    
</body>

</html>