<<<<<<< HEAD:Tercer Sprint/views/partials/head.ejs
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DrinkHouse</title>
        <!-- <script src="/carrusel.js"></script> -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
        <link href="/css/productDetail.css" rel="stylesheet">
        <link href="/css/footer.css" rel="stylesheet">
        <link href="/css/header.css" rel="stylesheet">
        <link href="/css/login.css" rel="stylesheet">
        <link href="/css/carrito.css" rel="stylesheet">
        <link href="/css/catalogo.css" rel="stylesheet">
        <link href="/css/home.css" rel="stylesheet">
        <link rel="icon" href="/images/favicon.png">
    </head>
=======
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DrinkHouse</title>
    <script src="/carrusel.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.png">
</head>
>>>>>>> 12ac4be43f846cc1246d1e9f62c0a725491e4d0f:Segundo Sprint final/views/partials/head.ejs
