.contenedor-carrito{
    display: flex;
}

.contenedor-producto{
    border: 1px solid gray;
    margin: 20px;
    padding: 0 10px;
    display: flex;
    width: 70%;
    height: 160px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.contenedor-producto img{
    width: 75px;
}

.contenedor-detalle-compra{
    margin: 20px;
    flex-direction: column;
    padding: 10px 10px;
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(238, 237, 237);
}

.botones-carrito button{
    background-color: black;
    color: white;
    font-weight: bold;
    width: 90%;
    height: 40px;
    margin: 10px;
    border-radius: 7px;
}

.botones-carrito button:hover{             
    background: rgb(170, 255, 0);
    color: rgb(0, 0, 0);
}

.contenedor-detalle-compra .subtotales{
    display: flex;
    width: 55%;
    justify-content: space-between;
}