<<<<<<< HEAD
.product-container{
    background-color: white;
    margin: 0 5px;
    padding: 10px 0;
} 
=======
/* .product-container{
    width: 100%;
} */
>>>>>>> 1e2792a34eee47f17645320c92e992abbffc4405

.product-middle-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
<<<<<<< HEAD
    flex-wrap: wrap;
=======
>>>>>>> 1e2792a34eee47f17645320c92e992abbffc4405
}

/* .product-imagenes{
    width: 100px; 
    display: block;
    flex-wrap: wrap;
} */

.product-imagenes img{
    width: 150px;
    border: 1px solid rgba(0,0,0,.1);
    max-width: 290px;
  
}

.product-details{
    /* width: 40%; */
    /*align-items: center;*/
    /* border: 1px solid rgba(0,0,0,.1);
    margin: 10px;
    justify-content: space-between; */
    display: flex;
flex-direction: column;
    /*align-items: center;
    /*justify-content: center;*/
    /*justify-content: space-evenly;*/
    /*padding: 0px 40px;*/
    /*flex-wrap: wrap;*/
    /*display: block;*/
}

.product-description{
    margin: 0 10%;
    text-align: justify;
}

/*
.product-details-bottom{
    display: flex;
    flex-direction: column;
}
*/

.product-details-bottom button{
    border-radius: 15px;
    padding: 7px;
    font-weight: bold;
    margin: 5px;
    color: white;
    background-color: black;
    transition: all 500ms;
}
/*
.product-details-top {
    /*margin-top: 20px;*/
    /*width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;*
}
*/
.product-details-top h2{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.product-details-top h3{
    border-bottom: 1px solid rgba(0,0,0,.1);
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    font-style: bold;
    font-size: 2em;
}

.ruta{
    padding-left: 50px;
    text-transform: capitalize;
}

.product-description p{
    margin: 0px;
    padding: 20px;
}

.product-details-bottom{
    width: 80%;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 10px;
    /*height: 50%;*/
    /*justify-content: end;*/
}

.product-details-bottom button:hover{
    background: rgb(170, 255, 0);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(137, 104, 237);
}

.titulo-productos{
    display: flex;
    justify-content: center;
}

.titulo-productos h2{
    display: flex;
    justify-content: center;
    margin: 60px 0 0;
    background-color: black;
    color: white;
    width: 80%;
}
<<<<<<< HEAD

.ruta h4{
    margin: 0px;
    padding-top: 15px;
}
=======
>>>>>>> 1e2792a34eee47f17645320c92e992abbffc4405
