body {
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    background-color: white;
    margin: 0px;
    position: relative;
    /* padding-bottom: 10em;                     Esta es la propiedad que nos daba problema con el footer */
    min-height: 100vh;

}

a{
    text-decoration: none;
}

#botonDeBusqueda {
    height: 28px;
    width: 29;
    border: 3px solid rgb(137, 104, 237);
    border-radius: 10px;
}

.atras{
position: absolute;
left: 5%;
}

.adelante{
    position: absolute;
    right: 5%;
}

.flex-item-final {
    display: flex;
}

.botones:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
    box-shadow: 0 0 10px rgba(134, 182, 38, 0.993);
}

.productos i:hover {
    cursor: pointer;
    background: rgb(137, 104, 237);
    color: rgb(255, 255, 255);
    transform: scale(1.2, 1.2);
    box-shadow: 0 0 10px rgba(112, 85, 192, 0.50);
    transition-duration: 250ms;
}

header div form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.img-producto p {
    width: 40%;
    margin: auto;
}

.img-producto img {
    width: 20%;
    height: 20%;
    border: 5px solid black;
    margin: 10px;
}

.img-producto button:hover {
    background: rgb(170, 255, 0);
    color: rgb(0, 0, 0);
}

.img-producto button {
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    margin: auto;
    color: white;
    background-color: black;
}

.img-producto div div {
    padding: 20px;
    display: flex;
    justify-content: center;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.img-producto div {
    display: flex;
}

.productos-carrito nav {
    justify-content: center;
    padding-top: 200px;
}

.productos-carrito button:hover {
    background: rgb(170, 255, 0);
    color: rgb(0, 0, 0);
}

.boton-precio button {
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    margin: auto;
    color: white;
    background-color: black;
    display: flex;
}

.contenedor-botones button{             /*estilos-boton-posible-boton-general*/
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    margin: 10px;
    color: white;
    background-color: black;
}

button:hover {                          /*estilos-boton-posible-boton-general*/
    background: rgb(170, 255, 0);
    color: rgb(0, 0, 0);
}   

input{
    margin: 0 0 15px 0;
    border-radius: 5px;
}

/* detail-page */
.boton-precio{
    display: flex;
    font-size: 20px;
}

.boton-editar {
    position: fixed;
    right: 20px;
    bottom: 150px;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    margin: 10px;
    color: white;
    background-color: black;
}

.boton-editar:hover {
    background: rgb(170, 255, 0);
    color: rgb(0, 0, 0);
} 
        
/* fin de whatsapp */

.pie {
    display:block;
}

/*Inicio de Mobile*/

@media  (max-width: 460px) {

    .botones {
        font-size: 30px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgb(170, 255, 0.7);
        text-align: center;
        font-weight: bold;
        color: black;
        box-shadow: 0 0 10px rgba(134, 182, 38, 0.993);
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3 ease;
    }
        
    footer .logo img, .marcas, .flex-encabezado #busqueda button{          /* contenedor de logo-barra-nav (lupa) */
        display: none;
    }
} 
    
/*Fin del mobile*/

/*Inicio de Desktop*/
@media (max-width: 768px) and (min-width: 475px) {
    .flex-encabezado {          /* contenedor de logo-barra-nav-contenedor-gral */
        flex-direction: column;
    }

    .flex-encabezado #logo {           /*contenedor de logo-barra-nav-logo */
        margin: auto;
    }

    .botones {
        font-size: 30px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgb(170, 255, 0.7);
        text-align: center;
        font-weight: bold;
        color: black;
        box-shadow: 0 0 10px rgba(134, 182, 38, 0.993);
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3 ease;
    }

     .fa-whatsapp {
        background: rgb(170, 255, 0);
        color: white;
        position: fixed;
        right: 20px;
        bottom: 80px;
    }
    .header-container .header-logo-busqueda{
        width: 45%;
    }

    .header-container .header-nav{
        width: 45%;
    }

}

@media (min-width: 768px){

    .header-container{
        flex-direction: row;
    }
    .header-container .header-logo-busqueda{
        width: 49%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-container .header-busqueda{
        width: 60%;
    }

    .header-container .header-logo{
        width: 30%;
    }

    .header-container .header-nav{
        width: 49%;
    }

    .header-container .header-busqueda label{
        justify-content: space-evenly;
        padding: 5px;
    }

}