<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("./partials/head") %>

<body>
    <!-- header -->
    <%- include("./partials/header") %>
    <main>
        <div class="contenedor-register">
            <form>

                <!-- producto: categoria, marca,  codigo, precio, descuento, descripcion, imagenes, stock, -->
                
                <label for="categoria">Categoria </label>
                <select name="categoria" id="categoria">
                    <option>Vinos</option>
                    <option>Whiskies</option>
                    <option>Cervezas</option>
                    <option>Licores</option>
                </select> <br>

                <label class="" for="productMarca"></label>
                <input type="text" name="productMarca" placeholder="Marca" id="productMarca"> <br>

                <label class="" for="productId"></label>
                <input type="text" name="productId" placeholder="Código" id="productId"> <br>

                <label for="productPrice"></label>
                <input type="text" name="productPrice" placeholder="Precio"  id="productPrice"> <br>

                <label for="productDescuento"></label>
                <input type="text" name="productDescuento" placeholder="Descuento" id="productDescuento"> <br>

                <label for="productDescription"></label>
                <textarea name="productDescription" placeholder="DEscripcion del producto" id="productDescription" cols="30" rows="5"></textarea> <br>

                <label name="subida-imagenes" type="POST">
                    <input type="file" name="imagen" />
                </label>
                
                <div class="contenedor-boton">
                <label for="productStock">Stock</label>
                <select name="productStock" id="productStock">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                </div><br>

                
                <div class="contenedor-boton">
                    <button type ="submit">Enviar</button>
                    <button type ="reset">Borrar</button>
                </div>
            </form>
        </div>
    </main>
</body>

<!-- footer -->
<%- include("./partials/footer") %>

</html>