<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("./partials/head") %>
<body>
    <!-- header -->
    <%- include("./partials/header") %>
    <!--SECCION DESCRIPTIVA DEL PRODUCTO -->
    <section class="contenedor-descripcion">
        <div class="contenedor-itr">
            <img src="/images/rutini-imagen.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">
            <div class="contenedor-tr">
                <h2>RUTINI CABERNET FRANC MALBEC 750ml</h2>
                <p>
                    Rojo rubí intenso con reflejos púrpura.
                    Los frutos rojos maduros están unidos a un marco muy grato de pimienta negra. Hay otras
                    notas (café, cacao amargo) aportadas por el roble.
                    Es un tinto de impactante estructura y gran carga de taninos, de suavidad tangible.
                </p>
            </div>
        </div>
    </section>
<!-- ////////contenedor-descripcion////////-->
    <section class="contenedor-dpb">
        <!--<div class="detalles"></div>-->
        <div class="contenedor-bp">
            <div class="clase-dinero">
                <p>Precio: </p>
                <p>$2700</p>
            </div>
            <div class="contenedor-botones"> <!--quitar clase si funciona-->
                <button type="submit">Agregar al Carrito</button>
            </div>
        </div>
    </section>
    <section class="mas-informacion">
        <h2>Mas información</h2>
        <div class="contenedor-tabla">
            <div class="tabla">
                <div class="celda-l">
                    <p> Categoría:</p>
                </div>
                <div class="celda-r">
                    <p>Vinos</p>
                </div>
            </div>
            <div class="tabla">
                <div class="celda-l">
                    <p> Tipo:</p>
                </div>
                <div class="celda-r">
                    <p>Tinto</p>
                </div>
            </div>
            <div class="tabla">
                <div class="celda-l">
                    <p> Variedad:</p>
                </div>
                <div class="celda-r">
                    <p>Cabernert Sauvignon</p>
                </div>
            </div>
            <div class="tabla">
                <div class="celda-l">
                    <p> Productor:</p>
                </div>
                <div class="celda-r">
                    <p>Routini Wines</p>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <%- include("./partials/footer") %>
</body>