.contenedor-articulos-admin {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.background-admin{
    min-height: 800px;
}

#crear-producto{
    border-radius: 3px;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    margin-left: 10px;
    color: white;
    background-color: rgb(126, 63, 126);
    transition: all 500ms;
    height: 40px;
    border: none;
    font-family: 'rajdhani';
    width: 250px;
    text-decoration: none;
}

#crear-producto:hover{
    height: 45px;
    font-size: 23px;
    width: 270px;
}

.admin-product-image img{
    width: 50px;
}

.admin-detail-container{
    display: flex;
    border: 1px solid gray;
    margin: 3px;
    justify-content: space-around;
    width: 350px;
}

.admin-detail-container a{
    text-decoration: none;
    color: black;
    transition: all 400ms;
}

.admin-detail-container a:hover{
    font-size: 22px;
}

.admin-detail-text p,
.admin-detail-text h4{
    margin: 0;
    font-size: 15px;
}

.button-detail button{
    border-style: none;
    margin-top: 10px;
    background-color: rgb(126, 63, 126);
    color: white;
    font-weight: bold;
    padding: 5px;
    transition: all 400ms;
}

.button-detail button:hover{
    padding: 7px;
}

.button-edit{
    margin-top: 5px;
}