.contenedor-nav-opciones{
    background-color: black;
    margin: 5px;
}

.contenedor-articulos{                  /*catalogo Articulos*/
    display: flex;
    flex-wrap: wrap;
    /*padding: 10px 0;*/
    margin: 25px;
    background-color: white;
    justify-content: space-around;
}

.contenedor-articulos article{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 150px;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 3px;
}

.contenedor-articulos article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-radius: 20px;
    transform: scale(1.1,1.1);
}

.contenedor-articulos div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 25%;
    justify-content: space-around;
    margin: 5px 0;
}

.contenedor-articulos .caja-articulo{
    border-top: 2px solid gray;
}

.contenedor-articulos .caja-articulo p{
    display: flex;
    font-size: 16px;
    justify-content: center;
    margin: 15px 0 0;
    font-weight: bold;
}

.contenedor-articulos .caja-articulo .precio{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.contenedor-articulos a{
    text-decoration: none;
    color: black;
}

.nav-catalogo{                          /*Nav del catalogo*/   
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 15px;
}

.nav_catalogo a{                           
    color: white;
    font-weight: bold;
    transition: all 500ms ease;
    text-decoration: none;
}

.nav_catalogo a .fa-wine-bottle{                           
    transform: rotate(-45deg);
}

.nav_catalogo a:hover{                           
    color: black;
    background-color: rgb(170, 255, 0);;
    padding: 3px 8px;
    border-radius: 10px;
}

.contenedor-nav-opciones h3,
.contenedor-nav-opciones a{
    color: white;
    text-decoration: none;
}

.contenedor-nav-opciones h3{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.nav-catalogo i{
    margin: 5px;
}

.nav-left-catalogo,
.nav-right-catalogo{
    display: flex;
    justify-content: space-around;
}

                                 /* Media query para se muestren de a 2 articulos en tablets */
@media (max-width: 768px){
    .contenedor-articulos div{
        flex: 45%;
        
    }
}

/* estilos nuevos*/

.card {
    width: 20%;
    border-radius: 4px;
    
    display: grid;
    place-items: center;
    grid-template-areas: 'main';
    
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;

    margin: 10px;
    border: 1px solid rgba(0,0,0,.1);

    border-radius: 20px;
}

.card > * {
    grid-area: main;
}

.card > .text {
    opacity: 0;
    color: white;
    font-size: 1.8em;
    transition: opacity 400ms, transform 400ms;
}

.card:is(:hover, :focus) > .imagen {
    transform: scale(1.1);
    filter: brightness(0.4);
}

.card:is(:hover, :focus) > .text{
    transform: scale(1.2);
    opacity: 1;
}

.imagen{
    width: 100%;
    aspect-ratio: 1/1.7;
    transition: transform 400ms, filter 400ms
}