
/* Menu desplegable*
.dropbtn{
  color: white;
  margin-left: 3px;
  font-size: 13px;
}

.dropdown-content {
  display: none;
}

* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) *
.show {
  display:block;
}




.header-nav-container-drop:hover{
  animation: drop 2s linear infinite;
}
*/

/*
.header-nav-container-drop{
  margin:5px 0 0 30px;
  transition: all 100ms;
}

.header-nav-container-drop a{
  color: white;
}
*/
/*
@keyframes drop {
  20%{
    transform: rotate(20deg);
  }
  80%{
    transform: rotate(-40deg);
  }
}
*/

.header-container-general{
  align-items: center;
}

.header-nav-container-general a{
  color: white;
  margin: 3px;
}

.header-nav-option {
  transition: all 400ms;
}

.header-nav-option:hover{
  font-size: 20px;
  padding: 5px;
  background-color: rgb(126, 63, 126);
}

/* contenedor general del header*/
.header-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /*flex-direction: column;*/
}
/* logo drinkhouse*/
.header-logo img{
  width: 150px;
}
/*----- search start -----*/
.header-busqueda input{
  width: 400px;
}

.header-busqueda{
  margin: 5px;
}

.header-busqueda #search{
  font-family: 'Rajdhani';
  font-size: 18px;
  color: black;
  text-align: center;
  border: none;
  border-radius: 3px;
  height: 40px;
}

.header-busqueda .icon{
  position: absolute;
  color: black;
  margin-left: 10px;
  margin-top: 10px;
}
/*----- search end -----*/

/*-------- estilos de botones inicio --------*/
.header-nav-container-general{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 8px 0;
  flex-direction: row;
  align-items: center;
  /*height: 50px;*/
}

/*contendor de los botones*/
.header-nav-container{
  width: 150px; 
  align-items: center;
  display: flex;
  height: 30px; 
  justify-content: center; 
  transition: all 400ms;
  margin: 3px;
}


/*texto de los botones*/
.header-nav-container a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}


/*iconos de los botones*/
.header-nav-container-general .header-nav-container a i{
  margin-right: 3px; 
}

/*-------- estilos de botones final --------*/

.header-nav-container:hover{
  font-size: 20px;
  padding: 3px;
  background-color: rgb(126, 63, 126);
  border-radius: 3px;
  height: 40px;
}
/*-------- nav de ingresa y crear cuenta fin --------*/

/*-- opciones del catalogo --*/


/*------- fondo animado --------*/
.header-container-general{
  background: linear-gradient(
      45deg,
      #091833,
      #711c91,
      #910087,
      #091833,
      #711c91,
      #910087,
      #091833
  );
  background-size: 600%, 100%;
  animation: animatebghome 10s linear infinite;
}

@keyframes animatebghome {
  0% {
      background-position: 0% 0%;
  }
  100%{
      background-position: 100% 0%;
  }
}
/*---fin fondo animado---*/

.imagen-avatar{
  width: 25%;
}

#burger{
  display: flex;
  justify-content: center;
  font-size: 24px;
  height: 50px;
  align-items: center;
}

#burger a:hover{
  font-size: 26px;
  background-color: rgb(126, 63, 126);
  padding: 5px 10px;
}

#burger a{
  color: white;
  transition: all 400ms;
}
