<footer>
    <div class="footer-container">
        <div class="logo">
            <a href="/">
            <img src="/images/Drink_House_SVG.svg" width="150" alt="logo de Drink House"> 
            </a>
        </div>
        <div class="info-container">
                <h2>Contactos</h2>
           
                <a><i class="fas fa-phone-alt"></i><a href="#"> 011-4865-4569</a>
            <br>
                <a><i class="far fa-envelope"></i><a href="#"> drinkhouse@gmail.com</a>
            
        </div>
        <div class="info-container">
                <h2>¿Quienes Somos?</h2>
          
                <a href="#">Sobre nosotros</a>
            <br>
                <a href="#">Trabajá con nosotros</a>
          
        </div>
        <div class="info-container">
                <h2>¿Como Comprar?</h2>
           
                <a href="#">¿Necesitas ayuda?</a>
           <br>
                <a href="#">Seguridad</a>
              
        </div>
        <div class="info-container">
                <h2>Redes</h2>
                <a><i class="fab fa-facebook"></i><a href="#"> Facebook</a>
           <br>
                <a><i class="fab fa-instagram"></i><a href="#"> Instagram</a>
    </div>     
</footer>