.columnasCarrito {
    display: flex;
    margin:20px 0;
    background-color: white;
}

.contenedor-carrito {
    flex: 50%;
    margin-left: 5%;
}

.detalleCarrito {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
    width: 300px;
}

.contenedor-producto {
    display: flex;
    /*box-shadow: 0px 0px 10px rgb(100 100 100);*/
    /*filter: drop-shadow(5px 5px 5px hsl(0deg 0% 0% / 0.5));*/
    border-radius: 20px;
    margin: 40px 20px;
    /*flex-wrap: wrap;
    padding: 20px;*/
    justify-content: space-around;
    align-items: center;
}



.contenedor-producto img {
    height: 300px;
}

.contenedorFixed{
    display: flex;
    justify-content: center;
    flex: 20%;
    
}

.contenedor-detalle-compra {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 235, 255);
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    position: fixed;
   height: 300px;
   width: 280px;
}

.subtotales {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.subtotales h4, h3 {
margin: 10px 0;
}

.botones-carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}


.columnasCarrito button {
    border-radius: 3px;
    font-size: 20px;
    padding: 7px;
    font-weight: bold;
    margin: 5px;
    color: white;
    background-color: rgb(126, 63, 126);
    transition: all 500ms;
    height: 40px;
    border: none;
    font-family: 'rajdhani';
    width: 250px;
}

.columnasCarrito button:hover{
    height: 50px;
    font-size: 23px;
    width: 270px;
}
