body {
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    margin: 0px;
}


/*Inicio de Mobile*/

@media  (max-width: 460px) {
    /* ajuste de tamanions logo y barra de busqueda */
    .header-container .header-busqueda input{
        width: 300px;
    }

    .header-logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    /*----------------*/
    .header-nav-catalogo .header-nav-container-general{
        height: auto;
    }

    .botones-slider .centrar img{
        width: 100%;
    }
    .footer-container{
        flex-direction: column;
    }
    
} 
    
/*Fin del mobile*/

/*Inicio de Desktop*/
@media (max-width: 800px) and (min-width: 460px) {
    .header-nav-catalogo .header-nav-container-general{
        height: auto;
    }
}