<footer>
    <div class="pie">
        <div class="logo">
            <a href="/">
            <img src="/images/Drink_House_SVG.svg" width="150" alt="logo de Drink House"> 
        </a>
        </div>
        <nav>
            <div>
                <h2>Contactos</h2>
                <ul>
                    <li><i class="fas fa-phone-alt"></i><a href="#"> 011-4865-4569</a></li>
                    <li><i class="far fa-envelope"></i><a href="#"> drinkhouse@gmail.com</a></li>
                </ul>
            </div>
            <div>
            <h2>¿Quienes Somos?</h2>
            <ul>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Trabajá con nosotros</a></li>
            </ul>
            </div>
            <div>
            <h2>¿Como Comprar?</h2>
            <ul>
                <li><a href="#">¿Necesitas ayuda?</a></li>
                <li><a href="#">Seguridad</a></li>
            </ul>
            </div>
            <div>
            <h2>Redes</h2>
            <ul>
                <li><i class="fab fa-facebook"></i><a href="#"> Facebook</a></li>
                <li><i class="fab fa-instagram"></i><a href="#"> Instagram</a></li>
            </ul>
            </div>
        </nav>
        </div>           
</footer>