    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DrinkHouse</title>
        <!-- <script src="/carrusel.js"></script> -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
        <link href="/css/productDetail.css" rel="stylesheet">
        <link href="/css/footer.css" rel="stylesheet">
        <link href="/css/header.css" rel="stylesheet">
        <link href="/css/login.css" rel="stylesheet">
        <link href="/css/carrito.css" rel="stylesheet">
        <link href="/css/catalogo.css" rel="stylesheet">
        <link href="/css/home.css" rel="stylesheet">
        <link href="/css/carrito.css" rel="stylesheet">
        <link href="/css/administrador.css" rel="stylesheet">
<<<<<<< HEAD
        <link href="/css/userProfile.css" rel="stylesheet">
=======
>>>>>>> 1e2792a34eee47f17645320c92e992abbffc4405
        <link rel="icon" href="/images/favicon.png">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    </head>
