<header>
<<<<<<< HEAD
    <div class="flex-encabezado">
        <div id="logo">
           <a href="/">
            <img src="/images/Drink_House_SVG.svg" alt="logo de Drink House">
            </a>
        </div>
        <div id="busqueda">
            <input type="text" placeholder="¿Que vas a pedir?">
                <button id="botonDeBusqueda"><i class="fas fa-search"></i></button>
        </div>
        <div id="navegador">
        <a href="/views/login"><i class="far fa-user"></i>  Ingresa</a>
        <a href="/views/carritoCompras"><i class="fas fa-shopping-cart"></i>  Carrito</a>
        <a href="/views/register"><i class="far fa-list-alt"></i>  Crea tu cuenta</a>
        <a href="/views/administrador"><i class="fas fa-box"></i> Administrador</a>

    </div>           
</header>
=======
    <div class="header-container">
        <div class="header-logo-busqueda">
            <div class="header-logo">
            <a href="/"><img src="/images/Drink_House_SVG.svg" alt="logo de Drink House"></a>
            </div>
            <!-- <div class="header-busqueda"> -->
                <!-- <label>
                    <button><i class="fas fa-search"></i>¿Que vas a pedir?</button>
                </label> -->

            <!-- </div> -->

            <div class="box">
                <div class="container-1">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="search" id="search" placeholder="¿Que vas a pedir?" />
                </div>
              </div>

        </div>
        <nav class="header-nav">
            <div class="nav-left">
                <% if (locals.isLogged) { %>
                <div class="header-nav-container">
                    <a href="/views/login"><i class="far fa-user"></i>Ingresa</a>
                </div>
                <div class="header-nav-container">
                    <a href="/views/register"><i class="far fa-list-alt"></i>Crea tu cuenta</a>
                </div>
            </div>
            <div class="nav-right">
                <% } else { %>
                <div class="dropdown header-nav-container">
                    <img src="<%= userLogged.avatar %> "><a>Hola <%= userLogged.nombre %>!</a>
                    <i onclick = "myFunction()" class="fas fa-chevron-circle-down dropbtn"></i>
                    <div id ="myDropdown" class="dropdown-content">
                        <% if (locals.isAdmin) { %>
                        <a href="/views/administrador"></i>Administrador</a>
                        <% } %>
                        <a href="/views/profile">My Profile</a>
                        <a href="/views/logout">Logout</a>
                    </div>
                </div>
                <div class="header-nav-container">
                    <a class="botones-nav" href="/views/carritoCompras"><i class="fas fa-shopping-cart"></i>Carrito</a>
                </div>
                
            </div>
            <% } %>
        </nav>
    </div>           
</header>
<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
>>>>>>> 12ac4be43f846cc1246d1e9f62c0a725491e4d0f
