<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link rel="shortcut icon" href="/public/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/favicon.png">
</head>

<body>
    <header>
        <div class="flex-encabezado">
            <div id="logo">
                <a href="/"><img src="/images/Drink_House_SVG.svg" alt="logo de Drink House"></a>
            </div>
            <div id="busqueda">
                <input type="text" placeholder="¿Que vas a pedir?">
                    <button id="botonDeBusqueda"><i class="fas fa-search"></i></button>
            </div>
            <div id="navegador">
            <a href="/views/login"><i class="far fa-user"></i>  Login</a>
            <i class="fas fa-ellipsis-v"></i>
            <a href="/views/product"><i class="fas fa-shopping-cart"></i>  Carrito</a>
            <i class="fas fa-ellipsis-v"></i>
            <a href="/views/register"><i class="far fa-list-alt"></i>  Registro</a>
        </div>           
    </header>

<!-- 
    SECCION DESCRIPTIVA DEL PRODUCTO -->
    <section class="contenedor-descripcion">
       <div class="contenedor-itr">
        <img src="/images/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">    
        
        <div class="contenedor-tr">
            <h2>RUTINI CABERNET FRANC MALBEC 750ml</h2>
            
            <p>
            Rojo rubí intenso con reflejos púrpura.
            Los frutos rojos maduros están unidos a un marco muy grato de pimienta negra. Hay otras notas (café, cacao amargo) aportadas por el roble.
            Es un tinto de impactante estructura y gran carga de taninos, de suavidad tangible.
            </p>
        
        </div>

    </section> 

                        <!-- //////////////// -->


        <section class="contenedor-dpb">
            
            <div class="detalles">
            
            </div>

            <div class="contenedor-bp">
                <div class="clase-dinero">
                    <p>Precio: </p>
                    <p>$2700</p>
                </div>

                <div class="contenedor-botones">
                    <button type="submit">Agregar al Carrito</button>
                </div>

            </div>

        </div>
        </section> 

        <section class="mas-informacion">
            <h2>Mas información</h2>

            <div class="contenedor-tabla">
            <div class="tabla">
                <div class="celda-l">
                   <p> Categoría:</p>
                </div>
                <div class="celda-r">
                     <p>Vinos</p>
                </div>
            </div>

            <div class="tabla">
                <div class="celda-l">
                   <p> Tipo:</p>
                </div>
                <div class="celda-r">
                     <p>Tinto</p>
                </div>
            </div>



            <div class="tabla">
                <div class="celda-l">
                   <p> Variedad:</p>
                </div>
                <div class="celda-r">
                     <p>Cabernert Sauvignon</p>
                </div>
            </div>
       
               
    
        <div class="tabla">
            <div class="celda-l">
               <p> Productor:</p>
            </div>
            <div class="celda-r">
                 <p>Routini Wines</p>
            </div>
        </div>
    </div>
</div>




        </div>
        </section>
      
    
    
    
    
<!--     
    FINAL DE SECCION DESCRIPTIVA -->
    
    
    <!-- <main>

            <div class="detail-container">
                <img src="/images/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">
                <div class="detail-info">
                    <h3>RUTINI CABERNET FRANC MALBEC 750ml</h3>
                    <p>Rojo rubí intenso con reflejos púrpura.

                        Los frutos rojos maduros están unidos a un marco muy grato de pimienta negra. Hay otras notas (café, cacao amargo) aportadas por el roble.
                        
                        Es un tinto de impactante estructura y gran carga de taninos, de suavidad tangible.</p>

                        <div class="tabla-descriptiva">
<div class="tabla-general">
   
   <div class="tabla-especifica">
    <div class="table-row">
        <p> Categoría:</p>
    </div>
    <div class="table-cell">
       <p> Vinos</p>
    </div>
</div>

<div class="tabla-especifica">
    <div class="table-row">
        <p> Tipo:</p>
    </div>
    <div class="table-cell">
       <p> Tinto</p>
    </div>
</div>


    <div class="tabla-especifica">
    <div class="table-row">
        <p> Variedad:</p>
    </div>
    <div class="table-cell">
       <p> Cabernert Sauvignon</p>
    </div>
</div>

    <div class="tabla-especifica">
    <div class="table-row">
        <p> Productor:</p>
    </div>
    <div class="table-cell">
       <p> Routini Wines</p>
    </div>

</div>
</div>

                        </div>
                   <div class="boton-precio"> 
                    <h4 class="precio">Precio: <p>$2700</p> </h4>
                    <button type="submit">Agregar al Carrito</button>
                   
                </div>
                </div>
          </div> -->




            <!-- <div class="img-producto">
                    <div>
                    <img src="/images/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">
                    <p>RUTINI CABERNET FRANC MALBEC 750ml
                        $ 2.130,00
                        0
                        22.0 Unidades Disponibles
                         Podés retirar en nuestros locales
                        ver opciones 
                        
                         Podés comprar como quieras
                        aceptamos tarjetas de crédito, débito, mercadopago.
                         Compra protegida
                        podés devolver tu pedido si no es lo que esperabas
                         Estamos disponibles para responder tus consultas
                        escribinos por el chat en vivo.
                        </p>
                        <button type="submit">Agregar al Carrito</button>
                    </div>
                    <div>
                        <img src="/images/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">
                        <p>RUTINI CABERNET FRANC MALBEC 750ml
                            $ 2.130,00
                            0
                            22.0 Unidades Disponibles
                             Podés retirar en nuestros locales
                            ver opciones 
                            
                             Podés comprar como quieras
                            aceptamos tarjetas de crédito, débito, mercadopago.
                             Compra protegida
                            podés devolver tu pedido si no es lo que esperabas
                             Estamos disponibles para responder tus consultas
                            escribinos por el chat en vivo.
                            </p>
                            <button type="submit">Agregar al Carrito</button>
                        </div>
                        <div>
                            <img src="/images/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">
                            <p>RUTINI CABERNET FRANC MALBEC 750ml
                                $ 2.130,00
                                0
                                22.0 Unidades Disponibles
                                 Podés retirar en nuestros locales
                                ver opciones 
                                
                                 Podés comprar como quieras
                                aceptamos tarjetas de crédito, débito, mercadopago.
                                 Compra protegida
                                podés devolver tu pedido si no es lo que esperabas
                                 Estamos disponibles para responder tus consultas
                                escribinos por el chat en vivo.
                                </p>
                                <button type="submit">Agregar al Carrito</button>
                            </div>
                            <div>
                                <img src="/images/[5027] RUTINI CABERNET FRANC MALBEC 750ml.png" alt="RUTINI CABERNET FRANC MALBEC 750ml">
                                <p>RUTINI CABERNET FRANC MALBEC 750ml
                                    $ 2.130,00
                                    0
                                    22.0 Unidades Disponibles
                                     Podés retirar en nuestros locales
                                    ver opciones 
                                    
                                     Podés comprar como quieras
                                    aceptamos tarjetas de crédito, débito, mercadopago.
                                     Compra protegida
                                    podés devolver tu pedido si no es lo que esperabas
                                     Estamos disponibles para responder tus consultas
                                    escribinos por el chat en vivo.
                                    </p>
                                    <button type="submit">Agregar al Carrito</button>
                                </div>
            </div> -->
        </main>
    <footer>
        <div class="pie">
            <div class="logo">
                <img src="/images/Drink_House_SVG.svg" width="150" alt="logo de Drink House"></div>
                <nav>
                    <div>
                    <h1>Contactos</h1>
                    <ul>
                        <li><i class="fas fa-phone-alt"></i><a href="#"> 011-4865-4569</a></li>
                        <li><i class="far fa-envelope"></i><a href="#"> drinkhouse@gmail.com</a></li>
                    </ul>
                    </div>
                    <div>
                    <h1>¿Quienes Somos?</h1>
                    <ul>
                        <li><a href="#">Sobre nosotros</a></li>
                        <li><a href="#">Trabajá con nosotros</a></li>
                    </ul>
                    </div>
                    <div>
                    <h1>¿Como Comprar?</h1>
                    <ul>
                        <li><a href="#">Ayuda</a></li>
                        <li><a href="#">Seguridad</a></li>
                    </ul>
                    </div>
                    <div>
                    <h1>Redes</h1>
                    <ul>
                        <li><i class="fab fa-facebook"></i><a href="#"> Facebook</a></li>
                        <li><i class="fab fa-instagram"></i><a href="#"> Instagram</a></li>
                    </div>
            </nav>
            </div>           
    </footer>
</body>

